@import url("./base/reset.css");
@import url("./base/variables.css");

/* =========================
   ESTILOS GENERALES
========================= */

body {
    min-height: 100vh;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: sans-serif;
}

/* =========================
   NAVBAR
========================= */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5rem 3rem;

    border-bottom: 1px solid var(--color-border);

    background-color: var(--color-background);
}

.logo {
    font-size: 1.3rem;
    font-weight: bold;

    color: var(--color-primary);
}

.nav-links {
    display: flex;
    gap: 2rem;
}

.nav-links a {
    color: var(--color-text-secondary);
    transition: 0.3s ease;
}

.nav-links a:hover {
    color: var(--color-primary);
}

/* =========================
   HERO
========================= */

#hero {
    position: relative;

    min-height: calc(100vh - 80px);

    display: flex;
    align-items: center;

    padding: 0 4rem;

    overflow: hidden;
}

/*
.hero-background {
    position: absolute;

    width: 700px;
    height: 700px;

    background: radial-gradient(circle,
            rgba(59, 130, 246, 0.25) 0%,
            rgba(59, 130, 246, 0.15) 30%,
            transparent 70%);

    top: 50%;
    right: 180px;

    transform: translateY(-50%);

    pointer-events: none;
}*/

.hero-container {
    max-width: 1400px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6rem;

    min-height: 85vh;
}

.hero-content {
    flex: 1;
}

.hero-subtitle {
    color: var(--color-primary);

    font-size: 1.1rem;
    font-weight: 600;

    margin-top: 3rem;
    margin-bottom: 1rem;
}

.hero-content h1 {
    font-size: 6rem;
    font-weight: 800;

    line-height: 1.1;

    margin-bottom: 1rem;

    white-space: nowrap;

    letter-spacing: 3px;
}

.hero-content h1 span {
    display: block;
    text-align: center;
    margin-top: 0.5rem;
}

.hero-description {
    max-width: 650px;

    font-size: 1.35rem;
    line-height: 1.8;

    color: var(--color-text-secondary);

    margin-bottom: 2rem;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
}

.hero-image {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(200px);
}

.hero-image img {
    width: 600px;
    max-width: none;
    height: auto;
    border-radius: 20px;

    box-shadow: 0 0 40px rgba(59, 130, 246, 0.25);

}

/* =========================
   BOTONES
========================= */

.btn-primary,
.btn-secondary {
    padding: 1rem 2rem;

    border-radius: var(--radius-md);

    font-weight: 600;

    transition: 0.3s;
    transform: translateY(-3px);
}

.btn-primary {
    background-color: var(--color-primary);
    color: white;
}

.btn-primary:hover {
    background-color: var(--color-primary-hover);
}

.btn-secondary {
    border: 1px solid var(--color-border);

    color: var(--color-text);
}

.btn-secondary:hover {
    background-color: var(--color-surface);
}

.section-container {
    max-width: 1200px;

    margin: 0 auto;

    padding: 6rem 4rem;
}

.section-container h2 {
    font-size: 2.5rem;

    margin-bottom: 2rem;

    color: var(--color-primary);
}

.section-container p {
    max-width: 800px;

    font-size: 1.2rem;

    line-height: 1.8;

    color: var(--color-text-secondary);
}

#about-page {
    min-height: calc(100vh - 80px);

    display: flex;
    align-items: center;
}

.section-container {
    max-width: 1000px;

    padding: 4rem;

    margin: 0 auto;
}

/* =========================
   RESPONSIVE
========================= */

@media (max-width: 1200px) {

    .hero-container {
        flex-direction: column;
        text-align: center;
        gap: 4rem;
    }

    .hero-buttons {
        justify-content: center;
    }

    .hero-content h1 {
        font-size: 4.5rem;
        white-space: normal;
    }

    .hero-image {
        transform: translateX(0);
    }

    .hero-image img {
        width: 450px;
        max-width: 100%;
    }

    .hero-description {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {

    #hero {
        padding: 2rem;
    }

    .hero-content h1 {
        font-size: 3.5rem;
    }

    .hero-description {
        white-space: normal;
        font-size: 1rem;
    }

    .hero-buttons {
        flex-direction: column;
        align-items: center;
    }

    .hero-image img {
        max-width: 320px;
    }

    .nav-links {
        gap: 1.5rem;
        flex-wrap: wrap;
    }

    .navbar {
        justify-content: center;
        padding: 1rem;
    }
}

@media (max-width: 480px) {

    .hero-content h1 {
        font-size: 2.8rem;
    }

    .hero-subtitle {
        font-size: 1rem;
    }

    .hero-role {
        font-size: 0.95rem;
    }

    .hero-description {
        font-size: 0.95rem;
    }
}